@page "/blogdetails"

<main>

    <!-- Blog Details Banner hh-->
    <div class="productnav-dark">
        <div class="container">
            <div class="my-4 d-flex justify-content-between sh-cart-banner" style="color: white;">
                <div class="f-green font-weight-bold" style="font-size: 1.5rem;">Blog</div>
                <div style="font-size: 1.5rem;">
                    <a href="#" class="mr-2">Home</a> /
                    <a href="#" class="mr-2 ml-2">Blog</a> /
                    <a href="#" class="ml-2">Music is a mind fresher system</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details Banner end-->
    <!--Grid system-------------------start-->
    <div class="container mt-5">
        <Row>
            <!--left column -------------------start-->
            <Column ColumnSize="ColumnSize.Is12.OnTablet.Is8.OnDesktop" Class="p-0 my-3">
                <h2 class="f-green font-weight-bold my-4">Music is a mind fresher system</h2>
                <div class="my-5">By: <span class="f-green">Jonathon Doe</span>, Date:  <span class="f-green">30 July 2020</span>, Category: <span class="f-green">Entertainment</span></div>
                <div class="blog-rect-lg"></div>
                <div class="my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet ullamcorper congue. Nam lobortis eros in risus rhoncus gravida. Pellentesque enim lectus, laoreet sit amet rhoncus in, semper vitae odio. Proin congue malesuada posuere. Aenean dapibus et magna non dictum. Praesent ut lacinia dui, ac malesuada nisi.</div>
                <div class="f-green">Aenean dapibus et magna non dictum. Praesent ut lacinia dui, ac malesuada nisi. Nullam pharetra, dui ac tincidunt pellentesque, diam elit dapibus augue, vel lobortis tortor neque eu velit. Aliquam ullamcorper semper feugiat. Etiam congue sollicitudin dolor a scelerisque.</div>
                <div class="my-4">Nullam pharetra, dui ac tincidunt pellentesque, diam elit dapibus augue, vel lobortis tortor neque eu velit. Aliquam ullamcorper semper feugiat. Etiam congue sollicitudin dolor a scelerisque. Donec ex dui, placerat quis mattis pulvinar, ultricies ut dolor. Sed eu iaculis magna. Morbi nisi lectus, efficitur in elit eget, volutpat viverra sapien. Suspendisse dignissim quis ipsum in maximus. Phasellus condimentum purus justo.</div>
                <div class="d-flex justify-content-between">
                    <div class="blog-rect-md"></div>
                    <div class="blog-rect-md"></div>
                </div>

                <ul class="btn-bar my-5">
                    <!--social media-->
                    <li><a style="background-color: #20D3C2;" href="#">Share on:</a></li>
                    <li><a style="background-color: #3B5999;" href="#">Facebook</a></li>
                    <li><a style="background-color: #55ACEE;" href="#">Twitter</a></li>
                    <li><a style="background-color: #BD081C;" href="#">Pinterest</a></li>
                    <li><a style="background-color: #E4405F;" href="#">Instagram</a></li>
                </ul>
                <div class="d-flex my-5">
                    <!--tags-->
                    <span>Tags:</span>
                    <span style="border: 2px solid lightgray;" class="mx-2 px-2">Fashion</span>
                    <span style="border: 2px solid lightgray" class="mx-2 px-2">Shoes</span>
                    <span style="border: 2px solid lightgray" class="mx-2 px-2">Sneakers</span>
                    <span style="border: 2px solid lightgray" class="mx-2 px-2">Music</span>
                </div>
                <!--card-->
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 m-0 rounded-left" style="background-color: #20D3C2;">
                            <img class="card-img-top" src="~/img/Author.svg" alt="no image">
                            <div class="card-body text-center">
                                <p class="card-text text-white"><span class="font-weight-bold">WILLIUM CARRY</span>  <br> Quality Manager</p>
                            </div>
                        </div>
                        <div class="col-md-8 hh-bg-navy rounded-right">
                            <p class="text-white m-3">Hi, my name is Faruk Ahmed. I'm a web developer & graphic designer. Working as a graphic designer for more than 9 years and as a web developer working for 7 years. I hope you'll find my quality and my skills in my portfolio. So, please take a look at my portfolio and consider me for your next awesome project. Thanks for reading and visiting my post.</p>
                        </div>
                    </div>
                </div>

            </Column>
            <!--left column -------------------end-->
            <!-- right  column -------------------start-->
            <Column Class=" ml-3 mt-5">
                <div class="mb-3">
                    <div class="input-group" style="border: 1px solid #20D3C2;  border-radius: 50px 50px 50px 50px;">
                        <input type="text" class="form-control search-form-control rcorners1 blogsearch" aria-label="Text input " placeholder="Search here...">

                        <button class="btnsearch btn btn-outline-secondary border  rcorners3" aria-expanded="false" type="submit">
                            <span><i class="fas fa-search"></i></span>
                        </button>
                    </div>
                </div>

                <div class="resentPost  mt-5 mb-3">

                    <h3 style="color: #20D3C2; font-weight:bold"> Recent Post</h3>
                    <div class="mt-3">
                        <Row>
                            <Column ColumnSize=" ColumnSize.Is12.OnTablet.Is3.OnDesktop">
                                <img src=" " alt=" ">
                            </Column>
                            <Column>
                                <p style=" color: #CCCCCC;"> ¤ 18 July 2020</p>
                                <p class="ptext"> Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies</p>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize=" ColumnSize.Is12.OnTablet.Is3.OnDesktop">
                                <img src=" " alt=" ">
                            </Column>
                            <Column>
                                <p style=" color: #CCCCCC;"> ¤ 26 April 2020</p>
                                <p class="ptext">Quisque quis erat sed lacus elementum feugiat</p>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize=" ColumnSize.Is12.OnTablet.Is3.OnDesktop">
                                <img src=" " alt=" ">
                            </Column>
                            <Column>
                                <p style=" color: #CCCCCC;"> ¤ 29 August 2019</p>
                                <p class="ptext"> Vivamus ac sagittis justo. Suspendisse in purus lobortis,</p>
                            </Column>
                        </Row>
                    </div>
                </div>


                <div class="tags    mt-5 mb-3">

                    <h3 style="color: #20D3C2; font-weight:bold"> Tags</h3>
                    <div class="mt-3">
                        <Row>
                            <button Style="border:groove"> Design</button>
                            <button Style="border:groove"> Education</button>
                            <button Style="border:groove"> Entertaiment</button>
                            <button Style="border:groove"> Fuatured</button>
                            <button Style="border:groove"> Health</button>
                            <button Style="border:groove"> Metro</button>
                            <button Style="border:groove"> Science</button>
                            <button Style="border:groove"> Sports</button>
                            <button Style="border:groove"> Travels</button>

                        </Row>
                    </div>
                </div>

                <div id="instagram " class=" mt-5 mb-3">
                    <h3 style="color: #20D3C2; font-weight:bold"> Recent Instagram</h3>

                    <div class="grid-container  mt-3">

                        <div class="g-box">   <img src=" " alt="">   </div>
                        <div class="g-box">   <img src=" " alt="">   </div>
                        <div class="g-box">   <img src=" " alt="">   </div>
                        <div class="g-box">   <img src=" " alt="">    </div>

                        <div class="g-box">   <img src=" " alt="">    </div>
                        <div class="g-box">   <img src=" " alt="">    </div>
                        <div class="g-box">   <img src=" " alt="">     </div>
                        <div class="g-box">   <img src=" " alt="">    </div>

                        <div class="g-box">   <img src=" " alt="">    </div>
                        <div class="g-box">   <img src=" " alt="">    </div>
                        <div class="g-box">   <img src=" " alt="">    </div>
                        <div class="g-box">   <img src=" " alt="">    </div>

                    </div>

                </div>

                <div class="categories  mt-5 mb-3">
                    <h3 style="color: #20D3C2; font-weight:bold">Categories</h3>
                    <div class="mt-3">
                        <ul class="align-items-start">
                            <li Title="Design">      Design</li>
                            <li Title="Education">   Education</li>
                            <li Title="Entertaiment">Entertaiment</li>
                            <li Title="Featured">    Featured</li>
                            <li Title="Health">      Health</li>
                            <li Title="Metro">       Metro</li>
                            <li Title="Science">     Science</li>
                            <li Title="Sport">       Sport</li>
                            <li Title="Travels">     Travels</li>

                        </ul>
                    </div>
                </div>

                <div class="archives mt-5 mb-3">
                    <h3 style="color: #20D3C2; font-weight:bold">Archives</h3>
                    <div class="mt-3">
                        <ul>
                            <li Title="December 2019"> December 2019 </li>
                            <li Title="November 2019"> November 2019 </li>
                            <li Title="October 2019"> October 2019  </li>
                            <li Title="September 2019"> September 2019</li>
                        </ul>
                    </div>
                </div>
            </Column>
        </Row>
        <!--Grid system-------------------end-->
    </div>



    <!--    --- related post---->
    <div class=" relatedPost  productnav-dark  mt-5" style="height:150px">
        <div class="container">
            <div class="  d-flex justify-content-between sh-cart-banner" style="color: white;">


                <Row  >
                    <Column ColumnSize=" ColumnSize.Is12.OnTablet.Is3.OnDesktop">
                        <img src=" " alt=" ">
                    </Column>
                    <Column ColumnSize=" ColumnSize.Is12.OnTablet.Is9.OnDesktop" >
                        <div class="">
                            <div class="f-green font-weight-bold" style="font-size: 1.5rem;">
                                <a href=" "> <i class="fas fa-long-arrow-alt-left"></i></a>
                                Previous Post
                            </div> 
                            <p>Monica Creative and make us a proud things</p>
                        </div>
                    </Column>
                </Row>

                <Column ColumnSize="ColumnSize.Is12.OnTablet.Is1.OnDesktop">
                    <div class="grid-sm mt-2 ">
                        <div class="gsm-box">   <img src=" " alt="">   </div>
                        <div class="gsm-box">   <img src=" " alt="">   </div>
                        <div class="gsm-box">   <img src=" " alt="">   </div>

                        <div class="gsm-box">   <img src=" " alt="">    </div>
                        <div class="gsm-box">   <img src=" " alt="">    </div>
                        <div class="gsm-box">   <img src=" " alt="">     </div>

                        <div class="gsm-box">   <img src=" " alt="">    </div>
                        <div class="gsm-box">   <img src=" " alt="">    </div>
                        <div class="gsm-box">   <img src=" " alt="">    </div>
                    </div>
                </Column>


                <Row  >
                    <Column ColumnSize=" ColumnSize.Is12.OnTablet.Is9.OnDesktop" Class="justify-content-end ">
                        <div class="">
                            <div class="f-green font-weight-bold" style="font-size: 1.5rem;">
                                Next Post
                                <a href=""><span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                            <p>The future fashion will be a easy beauty of women</p>
                        </div>
                    </Column>
                    <Column ColumnSize=" ColumnSize.Is12.OnTablet.Is3.OnDesktop">
                        <img src=" " alt=" ">
                    </Column>
                    
                </Row>
                
            </div>
            </div>
    </div>


    <section   class="container mt-5 mb-5 ">

        <div class="tittle">
            <div>
                <h3 style="font-weight: bold;"> RELATED <span style="color: #20D3C2;" class="ml-2 "> POSTS</span> </h3>
            </div>
            <div>
                <img src="img/Path 44.svg" alt="image">
            </div>
        </div>


        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item mt-5" data-ride="carousel">


            <!--Controls-->
            <a class="carousel-control-prev" href="#multi-item-example" style="opacity:1;" data-slide="prev">
                <span><img src="./img/Prev btn.svg" alt="" class="prev-button"></span>

            </a>
            <a class="carousel-control-next" href="#multi-item-example" style="opacity:1;" data-slide="next">
                <span><img src="./img/Next btn.svg" class="next-button" alt=""></span>
            </a>
            <!--/.Controls-->
            <!--Slides-->
            <div class="carousel-inner  container" role="listbox">

                <!--First slide-->
                <div class="carousel-item active ">
                    <div class="row  " style="display: grid; grid-template-columns : auto auto auto; grid-gap:1rem; " >
                        <div class="carcard pl-1">
                            <div class="">    <img src=" " alt=" ">   </div>
                            <div class=" carcards-body" style=" ">
                                <div class="mt-5 ml-2 mr-0">
                                    <h3 style="font-weight: bold; color: #20D3C2;" class=" mb-3"> Kids fashion are great  </h3>
                                    <p style="color:white ">Fashion</p>
                                </div>
                            </div>

                        </div>

                        <div class="carcard  pl-1">
                            <div class="">    <img src=" " alt=" ">   </div>
                            <div class="carcards-body" style=" ">
                                <div class="mt-5 ml-2 mr-0">
                                    <h3 style="font-weight: bold; color: #20D3C2;" class="  mb-3"> Kids fashion are great  </h3>
                                    <p style="color:white ">Fashion</p>
                                </div>
                            </div>
                        </div>

                        <div class=" carcard   pl-1">
                            <div class=" ">     <img src=" " alt=" ">         </div>
                            <div class="carcards-body " style=" ">
                                <div class="mt-5 ml-2 mr-0">
                                    <h3 style="font-weight: bold; color: #20D3C2;" class="  mb-3"> Kids fashion are great  </h3>
                                    <p style="color:white ">Fashion</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <!--/.First slide-->
                <!--Second slide-->
                <div class="carousel-item  ">
                    <div class="row  " style="display: grid; grid-template-columns : auto auto auto; grid-gap:1rem; "  >
                        <div class="   carcard pl-1 ">
                            <div class=" ">    <img src=" " alt=" ">   </div>
                            <div class="carcards-body" style=" ">
                                <div class="mt-5 ml-2">
                                    <h3 style="font-weight: bold; color: #20D3C2;" class="  mb-3"> Kids fashion are great  </h3>
                                    <p style="color:white ">Fashion</p>
                                </div>
                            </div>
                        </div>

                        <div class="carcard  pl-1 ">                             
                            <div class=" ">    <img src=" " alt=" ">   </div>
                            <div class="carcards-body" style=" ">
                                <div class="mt-5 ml-2">
                                    <h3 style="font-weight: bold; color: #20D3C2;" class="  mb-3"> Kids fashion are great  </h3>
                                    <p style="color:white ">Fashion</p>
                                </div>
                            </div>
                        </div>

                        <div class="carcard pl-1">
                            <div class=" ">    <img src=" " alt=" ">   </div>
                            <div class="carcards-body" style=" ">
                                <div class="mt-5 ml-2">
                                    <h3 style="font-weight: bold; color: #20D3C2;" class="mb-3"> Kids fashion are great  </h3>
                                    <p style="color:white ">Fashion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Second slide-->
            </div>

            <!--Indicators-->
            <div>
                <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>

                </ol>
            </div>
            <!--/.Indicators-->
        </div>
        <!--/.Carousel Wrapper-->



    </section>

</main>

@code {
    
}
