@page "/error/404"

<div class="container-bg-gray pt-5">
    <Container>
        <img src="img/404.svg" class="d-block mx-auto img-fluid pb-5">
        <p class="text-center h4 pb-5">Oops! The page you are looking for doesn't exist.</p>
        <Row>
            <Column ColumnSize="ColumnSize.Is8.OnMobile.Is4.OnTablet" class="mx-auto pb-5">
                <Button Block="true" Color="Color.Primary" class="btn-primary btn-lg btn-rounded-blue">Home</Button>
                <Button Block="true" Color="Color.Primary" class="btn-lg btn-rounded-dark-blue">Contact Us</Button>
            </Column>
        </Row>
    </Container>        
</div>
