@inject IJSRuntime JSRuntime

<div id="map" style="height:500px;width:100%;">
</div>
<div id="marker"></div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initialize", null);
        }
    }
}